{% load static %}
{% load crispy_forms_tags %}



<div class="input__group ">
                              
    <label>Enter OTP</label>  
    <span input-name="otp" class="field-error"></span>

</div> 
<div class="otp-section" style="width: 100%;margin: 0;padding: 0;">

    <div class="otp-field" style="width: 100%;">
        <input required type="text" maxlength="1" />
        <input required type="text" maxlength="1" />
        <input required class="space" type="text" maxlength="1" />
        <input required type="text" maxlength="1" />
        <input required type="text" maxlength="1" />
        <input required type="text" maxlength="1" />
    </div>
</div>



<div class="item-bottom mt-31" style="padding: 0;">
    <h4 style="text-align: justify;">
        Didn't get any email ?
        <a id="resend-otp" url="{% url 'send-code' %}" href="#0">Resend OTP</a>
    </h4>
</div>




