{% extends 'dashboard-base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}


<div class="gamfi-explore-content gamfi-previous-section pt-0 md-pt-0 pb-110 md-pb-50">
    <div class="container">
        <div class="breadcrumbs-area sec-heading">
            <div class="sub-inner  mb-40">
        
                <span class="sub-title">Account Center</span>
                <img class="heading-left-image" src="{% static 'main/images/icons/steps.png' %}" />
            </div>
        
        </div>

        <!-- Tab Menu Section Start -->
        <div class="project-menu-area d-flex align-items-center justify-content-between">
            <div class="project-left-menu">
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="tab-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#open-igo" type="button" role="tab" aria-controls="open-igo" aria-selected="true">Personal Info</button>
                    </li>


                    <li class="nav-item" role="presentation">
                        <button class="tab-link" id="wallet-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Connect Wallet</button>
                    </li>


                    <li class="nav-item" role="presentation">
                        <button class="tab-link" id="verify-email-tab" data-bs-toggle="tab" data-bs-target="#verify-email" type="button" role="tab" aria-controls="verify-email" aria-selected="false">Verify Email</button>
                    </li>
                  
                </ul>
            </div>
          
        </div>

        <!-- Tab Content Section Start -->
        <div class="tab-content" id="myTabContent">
            <!-- Open IGO Content Start -->
            <div class="tab-pane fade show active" id="open-igo" role="tabpanel" aria-labelledby="personal-tab">
                <div class="account__content p-0 m-0">
                    <div class="account__form">
                        <form action="{% url 'profile' %}" method="post">
                            {% crispy form %}
                        </form>
                    
                        <div class="hover-shape1"></div>
                        <div class="hover-shape2"></div>
                        <div class="hover-shape3"></div>
                       
                    </div>
                    <div class="account-shadow"></div>
                </div>
            </div>
            <!-- Open IGO Content End -->

            <!-- Upcoming Content Start -->
            <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="wallet-tab">
                <div class="account__content p-0 m-0">
                    <div class="account__form">
                        <div>
                            <form action="{% url 'wallet_update' %}" method="post"> 
                                {% crispy wallet_form %}
                            </form>
                           
                        </div>
                      
                        <div class="latest-content">
                            
                            <div class="latest-item">
                               
                                <div class="latest-text">
                                    
                                    <div class="latest-btn">
                                        <a >Disclaimer</a>

                                    </div>
                                    <p>{{site_name}} will not be held responsible for incorrect wallet addresses or any loss that may occur as a result. Please ensure you enter the right wallet address details.</p>
                                </div>
                            </div>
                        </div>

                        <div class="hover-shape1"></div>
                        <div class="hover-shape2"></div>
                        <div class="hover-shape3"></div>
                       
                    </div>
                    <div class="account-shadow"></div>
                </div>
            </div>
            <!-- Open IGO Content End -->

            <!-- Upcoming Content Start -->
            <div class="tab-pane fade" id="verify-email" role="tabpanel" aria-labelledby="verify-email-tab">
                {% if user.email_verified %}
                <center>
                    <h5 style="margin: 60px 0px;">
                       Your email account has already been verified.
                    </h5>
                </center>
                {% else %}
                <center>
                    <h5 style="margin: 60px 0px;">
                        You are yet to verify your email address
                    </h5>
                </center>
               
                     <!-- Open IGO Content End -->
                     <div class="item-button">
                    
                      
                        <a  href="{% url 'verify-email' %}" class="theme-btn blue" style="width: 100%;">
                            <span>Verify Your Email</span>
                            <div class="hover-shape1"></div>
                            <div class="hover-shape2"></div>
                            <div class="hover-shape3"></div>
                        </a >
                    </div>
                {% endif %}
            </div>

    
         
            <!-- Open IGO Content End -->
        </div>

    </div>
</div>

{% endblock %}

{% block js %}



{% endblock %}
