{% extends 'dashboard-base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<style>
    .wallet-actions {
        padding: 12px !important;
        background-color: #1E1f35cc;
        border-radius: 13px;
        width: 130px;
    }

    .wallet-actions a i {
        font-size: 15px;
    }


    .leaderboard-table-list tr th,
    .leaderboard-table-list tr td {
        padding: 8px 15px !important;
    }

    .timer ul li {
        font-size: 22px !important;
    }
</style>

{% endblock %}

{% block content %}

<div>
    <div class="project-item project-value-inner d-flex justify-content-between  mb-30">
        <div class="project-value">
            <span>
                Referral Earnings</span>
            <h3 class="mb-20 mt-10">{{user.user_wallet.referral_earning}}<span style="font-size: 18px;"> USD</span></h3>

        </div>
        <div class="project-value">
            <span>
                Referrals</span>
            <h4 class="mb-30 mt-10">{{user.referral.all|length}}
            </h4>

            {% if pending_withdrawal %}
            <span>Pending Withdrawal <b style="color: red;">-{{pending_withdrawal|intcomma}} USD</b></span>
            {% endif %}

        </div>
        <div class="project-value-image" hidden>
            <img class="heading-right-image" src="{% static 'dashboard-main/images/project/rank.png' %}" alt="rank" />
        </div>


    </div>
    <div class="latest-item hover-shape-inner">

        <div class="latest-text">
            <div class="latest sec-heading">
                <div class="sub-inner mb-15">
                    <span class="sub-title">
                        Refer Your Friends
                    </span>
                </div>
                <h4 class="title mb-0"> <a href="blog-details.html">
                        How {{site_name}} Referral Works
                    </a>
                </h4>
                <p>Unlock exclusive rewards by inviting your network to join our platform. Share your unique referral
                    link with friends and family, and earn a percentage of their investments as a bonus, based on the
                    plans they choose.</p>
                <p>Imagine referring a crypto-savvy friend who registers with us using your link. Every time they
                    invest, your account will automatically receive a bonus. It's straightforward: the more referrals
                    you make, the higher your potential earnings!. The referall bonus is indicated on the <a
                        href="{% url 'plans' %}"><strong>PLANS</strong></a> page.</p>
                <p>Start sharing your referral link today and watch your bonuses grow!</p>
            </div>


            <div>


                <div class="input__group mb-23">
                    <span input-name="email" class="field-error"></span>
                    <label>Your unique referral link</label>
                    <input type="text" class="refferal-address" value="{{referral_link}}" disabled>
                </div>

            </div>


        </div>
    </div>


    <div id="transactions">
        <div class="breadcrumbs-area sec-heading">
            <div class="sub-inner  mt-40">

                <span class="sub-title">Your Referrals</span>
                <img class="heading-left-image" src="{% static 'dashboard-main/images/icons/steps.png' %}" />
            </div>

        </div>

        {% if  not user.referral.all  %}
        <center class="pt-40 pb-40">
            You have no referrals yet, They will appear here.
        </center>

        {% else %}
        <!-- Leaderboard List Start -->
        <div class="leaderboard-table-list pb-140 md-pb-80 pt-20">
            <div class="containe">
                <table style="overflow-x: scroll;width: 100%;">
                    <tr>
                        <th>S/N</th>
                        <th>Referee</th>
                        <th>Total deposits</th>
                        <th>Date Joined</th>
                    </tr>



                    {% for ref in user.referral.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ref.username}}</td>
                        <td>${{ref.user_wallet.past_deposits|default:0.00}}</td>

                        <td><span>{{tx.date_joined|date:"d/m/Y"}}</span></td>

                    </tr>
                    {% endfor %}


                </table>

            </div>
        </div>
        <!-- Leaderboard List End -->
        {% endif %}

    </div>
</div>
{% endblock %}