{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


 <!-- account section start -->
 <div class="account__area " style="margin-top: 50px;"> 
    <div class="account-bg"></div>
    <div class="container">
        <div class="account__content">
            <div class="account__form">
                <div class="account__title mb-29">
                    <h2>Link Has Been Sent! </h2>
                    <h3>Your password reset instructions has been sent to your provided email address. </h3>
                </div>
               
            </div>
            <div class="account-shadow"></div>
        </div>
    </div>
</div>		
<!-- account section END -->
{% endblock %}


{% block js %}
<script src="{% static 'main/js/core/account.js' %}"></script> 
{% endblock %}