{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

<style>
  .field-error {
    color:red

}
</style>

{% endblock %}


{% block content %}

<!-- ================> Page header start here <================== -->
<section class="page-header bg--cover" style="background-image: url('{% static 'main/images/header/1.png' %}')">
  <div class="container">
    <div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
      <h2>Register</h2>
      <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item "><a href="#0">Home</a
            
            ></li>
          <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
      </nav>
    </div>
    <div class="page-header__shape">
      <span class="page-header__shape-item page-header__shape-item--1"><img
          src="{% static 'main/images/header/2.png' %}" alt="shape-icon"></span>
    </div>
  </div>
</section>
<!-- ================> Page header end here <================== -->





<!-- ===============>> account start here <<================= -->
<section class="account padding-top padding-bottom sec-bg-color2">
  <div class="container">
    <div class="account__wrapper" data-aos="fade-up" data-aos-duration="800">
      <div class="row g-4">
        <div class="col-12">
          <div class="account__content account__content--style1">

            <!-- account tittle -->
            <div class="account__header">
              <h2>Create Your Account</h2>
              <p>Join Over <b>100K+</b> {{site_name}} Users. Signup and claim up to 100 USDT Signal Subscription </p>
            </div>

            <!-- account social -->
            <div class="account__social" hidden>
              <a href="#" class="account__social-btn"><span><img src="{% static 'main/images/others/google.svg' %}"
                    alt="google icon"></span>
                Continue with google
              </a>
            </div>

            <!-- account divider -->
            <div class="account__divider account__divider--style1" hidden>
              <span>or</span>
            </div>

            <!-- account form -->
            <form  class="account__form needs-validation registration-form"
              email_confirm_link="{% url 'verify-email' %}" action="{% url 'register-api'  %}" method="post" novalidate>
              {% csrf_token %}
              <div class="row g-4">
                <div class="col-12 col-md-12">
                  <div>
                    <span input-name="name" class="field-error"></span>
                    <label for="first-name" class="form-label">Full Name</label>
                    <input name="name" class="form-control" type="text" id="first-name"
                      placeholder="Enter your full name">
                  </div>
                </div>

                <div class="col-12">
                  <div>
                    <span input-name="email" class="field-error"></span>
                    <label>Email address</label>
                    <input class="form-control" type="email" name="email" id="email"
                      placeholder="Enter your email address">
                  </div>
                </div>

                <div class="col-12">
                  <div>
                    <span input-name="phone_number" class="field-error"></span>
                    <label>Phone Number</label>
                    <input class="form-control" type="number" name="phone_number" 
                      placeholder="Enter your phone number in intl format">
                  </div>
                </div>

                <div class="col-12" style="margin-bottom:23px">
                  <label>Country</label><br>
                  <span input-name="country" class="field-error"></span>
                  <select name="country" class="form-control">
                      {% for country in COUNTRIES %}
                      <option  value="{{country.pk}}">{{country.name}}</option>
                      {% endfor %}
                  </select>
              </div>
                </div>


                <div class="col-12" style="margin-bottom:23px"> 
                  <div class="form-pass">
                    <label>Password</label>
                    <span input-name="password" class="field-error"></span>
                    <input type="password" class="form-control showhide-pass" name="password" id="pass"
                      placeholder="Enter your password">

                    <button type="button" id="btnToggle" class="form-pass__toggle"><i id="eyeIcon1"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-pass">
                    <span input-name="password_comfirmation" class="field-error"></span>
                    <label>Comfirm Password</label>
                    <input class="form-control showhide-pass" type="password" name="password_comfirmation" id="pass2"
                      placeholder="Re-nter your password">

                    <button type="button" id="btnCToggle" class="form-pass__toggle"><i id="eyeIcon2"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
              </div>

              
              <div class="input__group mb-23" hidden>
                   
                <input type="text" name="referral_id" value="{{referral_id}}">
            </div>


              <button type="submit "  id="signup-btn" class="trk-btn trk-btn--border trk-btn--primary d-block mt-4">Sign Up</button>
            </form>


            <div class="account__switch">
              <p>Don’t have an account yet? <a href="{% url 'login' %}">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="account__shape">
    <span class="account__shape-item account__shape-item--1"><img src="{% static 'main/images/contact/4.png' %}"
        alt="shape-icon"></span>
  </div>
</section>
<!-- ===============>> account end here <<================= -->

{% endblock %}


{% block js %}
<script src="{% static 'main/js/core/account.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}