{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<style>
    #tradingview_74048 {
        height: 500px !important;
    }
</style>
{% endblock %}

{% block content %}


<!-- Governance content section start -->
<div class="governanc_content_section mt-80">

    <div class="project-clasic-breadcum-bg">
        <div class="project-clasic-breadcum-img">
            <img src="{% static 'main/images/bg/projectClasicBreadCambg.png' %}" alt="" class="img-fluid" />
        </div>
    </div>
    <div class="container">

        <div class="row flex-row-reverse">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
                <div class="governanc_content_left governancdetaile_content_left">
                    <div class="governanc_details_heading">
                        <h2 hidden>#7 Include Metaverse in GamFi</h2>
                        <div class="governanc_details_subtitle">
                            <h3 hidden ><span>By:</span> Adam Smith</h3>
                            <h4><span>Last Updated,</span>on April 23rd, 2022</h4>
                        </div>
                        <p hidden >It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                            old. Richard McClintock, a Latin professor at Hampden-Sydney College <a
                                href="#">58cvv63BAe2Fc44dA742Df13CD3ee94b6bB868ea4xd</a></p>
                    </div>


                    <div class="governanc_details_text">

                        <h4>Terms of Service</h4>

                        <h4>1. Introduction</h4>
                        <p>Welcome to Bitcoin Voyager. These Terms of Service ("Terms") govern your use of our website
                            and services. By accessing or using our platform, you agree to be bound by these Terms. If
                            you do not agree to these Terms, you may not use our services. Bitcoin Voyager reserves the
                            right to change or modify these Terms at any time, and such changes or modifications will be
                            effective immediately upon posting to our website. Your continued use of the services
                            constitutes your acceptance of the revised Terms.</p>

                        <h4>2. Eligibility</h4>
                        <p>You must be at least 18 years old and a resident of the United Kingdom to use our services.
                            By using our platform, you represent and warrant that you meet these eligibility
                            requirements. If you are accessing or using our services on behalf of a legal entity, you
                            further represent and warrant that you have the authority to bind that entity to these
                            Terms.</p>

                        <h4>3. Account Registration</h4>
                        <p>To use our services, you must create an account by providing accurate and complete
                            information, including a valid email address. You agree to update your information as
                            necessary to maintain its accuracy. You are responsible for maintaining the confidentiality
                            of your account credentials and for all activities that occur under your account. You agree
                            to notify us immediately of any unauthorized use of your account.</p>

                        <h4>4. Crypto Investments</h4>
                        <p>Bitcoin Voyager provides a platform for investing in cryptocurrencies. All investments carry
                            inherent risks, including the risk of loss. You acknowledge and agree that you are solely
                            responsible for evaluating the risks and merits of any investment. You should not invest
                            more than you can afford to lose. Bitcoin Voyager does not provide investment advice, and
                            nothing on our platform should be construed as such.</p>

                        <h4>5. Fees</h4>
                        <p>Bitcoin Voyager charges fees for various services provided. The fee structure is detailed on
                            our website. By using our services, you agree to the fees and payment terms. All fees are
                            non-refundable, except as otherwise provided in these Terms or required by applicable law.
                        </p>

                        <h4>6. User Conduct</h4>
                        <p>You agree not to engage in any prohibited activities, including but not limited to fraud,
                            money laundering, and any other illegal activities. You also agree to comply with all
                            applicable laws and regulations. Prohibited activities include:</p>
                        <ul>
                            <li>Violating any law, statute, ordinance, or regulation.</li>
                            <li>Engaging in a transaction involving the proceeds of any unlawful activity.</li>
                            <li>Using the services to exploit, harm, or attempt to exploit or harm minors in any way.
                            </li>
                            <li>Engaging in any activity that poses a threat to the security of our platform, including
                                unauthorized access to our systems or data.</li>
                        </ul>

                        <h4>7. Privacy Policy</h4>
                        <p>Our Privacy Policy explains how we collect, use, and protect your personal information. By
                            using our services, you consent to the collection and use of your information as described
                            in our Privacy Policy. You acknowledge and agree that Bitcoin Voyager may collect, use, and
                            disclose your personal information as described in the Privacy Policy.</p>

                        <h4>8. Security</h4>
                        <p>We take security seriously and implement various measures to protect your information.
                            However, we cannot guarantee the absolute security of your data. You are responsible for
                            maintaining the security of your account and promptly notifying us of any unauthorized use.
                            We will not be liable for any loss or damage arising from your failure to comply with this
                            security obligation.</p>

                        <h4>9. Intellectual Property</h4>
                        <p>All content on our platform, including text, graphics, logos, and software, is the property
                            of Bitcoin Voyager or its licensors. You may not use, reproduce, or distribute any content
                            without our prior written permission. The Bitcoin Voyager name and logo are trademarks of
                            Bitcoin Voyager, and you may not use them without our prior written permission.</p>

                        <h4>10. Limitation of Liability</h4>
                        <p>Bitcoin Voyager is not liable for any direct, indirect, incidental, or consequential damages
                            arising from your use of our services. This includes, but is not limited to, loss of
                            profits, data, or other intangible losses. In no event will Bitcoin Voyager's total
                            liability to you for all damages, losses, or causes of action exceed the amount you have
                            paid Bitcoin Voyager in the last six months, or £100, whichever is greater.</p>

                        <h4>11. Indemnification</h4>
                        <p>You agree to indemnify and hold Bitcoin Voyager harmless from any claims, damages, losses,
                            liabilities, and expenses arising from your use of our services or violation of these Terms.
                            This indemnification obligation will survive the termination of these Terms and your use of
                            the services.</p>

                        <h4>12. Termination</h4>
                        <p>We reserve the right to suspend or terminate your account and access to our services at any
                            time, for any reason, including but not limited to breach of these Terms. Upon termination,
                            your right to use the services will immediately cease. You are responsible for any fees or
                            charges incurred prior to the termination of your account.</p>

                        <h4>13. Governing Law</h4>
                        <p>These Terms are governed by and construed in accordance with the laws of the United Kingdom.
                            Any disputes arising from these Terms or your use of our services will be resolved in the
                            courts of the United Kingdom. You agree to submit to the personal jurisdiction of the courts
                            located within the United Kingdom for the purpose of litigating all such claims or disputes.
                        </p>

                        <h4>14. Changes to Terms</h4>
                        <p>We may update these Terms from time to time. Any changes will be posted on our website, and
                            your continued use of our services constitutes your acceptance of the revised Terms. It is
                            your responsibility to review these Terms periodically for any changes. If you do not agree
                            to the updated Terms, you must stop using the services.</p>

                        <h4>15. Miscellaneous</h4>
                        <p>If any provision of these Terms is found to be invalid or unenforceable, the remaining
                            provisions will continue in full force and effect. Our failure to enforce any right or
                            provision of these Terms will not be considered a waiver of those rights. These Terms
                            constitute the entire agreement between you and Bitcoin Voyager regarding your use of the
                            services and supersede any prior agreements between you and Bitcoin Voyager.</p>

                        <h4>16. Contact Us</h4>
                        <p>If you have any questions about these Terms, please contact us at {{site_email}}
                            or write to us at:</p>
                        <p>Bitcoin Voyager<br>
                            {{site_address}}<br>
                           

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Governance content section end -->





    {% endblock %}