{% extends 'dashboard-base.html' %}
{% load humanize %}
{% load static %}

{% block content %}


<div class="account__area pt-0" >
    <div class="account-bg"></div>
    {% if low_balance %}
    <div class="status status-empty">
        <div class="status-icon">
            
            <div class="status-icon-sm">
                <em class="ti ti-close"></em>
            </div>
        </div>
        <span style="font-size: 14px;" class="status-text">Your balance : <b>${{user.user_wallet.initial_balance}} is too low for the selected plan, please <a href="{% url 'plans' %}">Select a lower plan</a></b></span>

    </div>
    {% else %}
    <div class="container" >
        <div class="account__content">
            <div class="account__form">
                <div class="account__title mb-29">
                    <h2>STAKE</h2>
                    <h5>Amount must be between <b>${{plan.min_cost|intcomma}}</b> to <b>${{max_amount|default:"1000000"|intcomma}}</b> , as regards to your selected plan and available wallet balance. You can <a href="{% url 'plans' %}" style="color: #6d4afe;"><b>Select another plan</b></a>, if you wish to invest a different amount .</h5>
                  
                </div>
                <form action="" method="post" >
                    {% csrf_token %}
                    
                    <div class="input__group mb-23">
                        <span input-name="amount" class="field-error"></span>
                        <label>AMOUNT</label>
                        <input type="number" name="amount" id="amount" placeholder="Enter an amount you wish to stake">
                    </div> 
                    <input required name="plan" hidden readonly value="{{plan.pk}}">
                    <p>{{form.amount.errors}}</p>
                    <div class="item-text mb-28">
                        <input type="checkbox" name="accept" id="accept">
                        <label for="accept">
                            I accept the 
                            <a href="#">Term of Conditions</a>
                            and 
                            <a href="#">Trading Policy </a>
                        </label>
                    </div>
                    <div class="item-button">
                        <button type="submit" class="theme-btn blue" style="width: 100%;">
                            <span>Proceed</span>
                            <div class="hover-shape1"></div>
                            <div class="hover-shape2"></div>
                            <div class="hover-shape3"></div>
                        </button >
                    </div>
                </form>
               
            </div>
            <div class="account-shadow"></div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block js %}

<script>
    $(".copy-clipboard").click(function(e){
       e.preventDefault()
    })

    $(".payment-check").on("change", function() {
        //fill in the wallet address for selected method
        var add = $(this).attr("wallet_address")
        $("input[name=wallet_address]").val(add)
        $("#wallet-address-copy").attr("data-clipboard-text",add)
        $("#address_name").html($(this).attr("value"))
      
    })
   

    $(".next").click(function(){ 
        $("#" + $(this).attr("to_tab")).trigger("click")
    })

    $("input[name=amount]").on("keyup keydown",function(){
        $("#pay-amount").html($(this).val())
    })

    function correctAmount(){

        max_cost = "{{plan.max_cost}}"
        min_cost = "{{plan.min_cost}}"
        
        entered_value = parseInt($(this).val())
        max_cost = parseInt(max_cost)
        min_cost = parseInt(min_cost)

        if ( entered_value > max_cost){
            $(this).val(max_cost)
        }

        else if (entered_value < min_cost){
            $(this).val(min_cost)
        }
        
    }
</script>
{% endblock %}